@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */
@import url(./components/footer.css);
@import url(./components/nav.css);
@import url(./components/header.css);

/* Paleta 1: */
:root {
  --color-fondo: #0f172a;
  --color-superficie: #1e293b;
  --color-primario: #e11d48;
  --color-secundario: #f59e0b;
  --color-texto: #f8fafc;
  --color-texto-suave: #94a3b8;
}
