.card-horizontal {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--color-superficie);
  padding: 20px;
  border-radius: 1rem;
  border: 3px solid var(--color-primario);
}
.card-horizontal img {
  width: 150px;
  height: auto;
  border-radius: 0.5rem;
}
