.grid-container-e {
    display: grid;
    grid-auto-columns: 200px;
    grid-auto-rows: 300px;
    grid-template-areas: 
    "box-1 box-2 box-3 box-4 box-5 box-6";
    

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.item-e {
    background-color: var(--color-superficie);
    justify-items: center;
    height: 300px;
    width: 200px;
}